html{
    margin: 0; 
    height: 100%; 
    overflow: hidden;
    
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#title{
    font-weight: bold;
    font-size: 4.5vmax;
    text-align: center;
    position: relative;
    margin: 0; 
    bottom: 15vmin;

}

#counter{
    position: absolute;
    opacity: 0;
    font-size: 10vmax;
    color: gainsboro;
    top: 20vh;
    
}

#header{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    height: 45vh;
}

#main{
    display: flex;
    justify-content: center;
    align-items: top;
    flex-grow: 1;
    width: 100%;
    height: 63.3vh;
}


#table{
    display: grid;     
    height: 40vh;
    min-width: 40vh;
    background-color: black;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    z-index: -1;
    position: absolute;
    opacity: 0;
    right: 90vmin;
}

.symbol{
    text-align: center;
    font-size: 100px;
    margin: 0;
    font-family: sans-serif;
}

.select-box{
    height: 100%;
    width: 100%;
    background-color: white;
}

#footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    flex-grow: 1;
    width: 100%;
    height: 23.3vh;
}

#controls{
    display: grid;
    gap: 5px;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 0.5fr 0.6fr;
    background-color: rgb(36, 34, 34);
    height: 20%;
    min-width: 43vh;
}

#displayboard{
    background-color: rgb(36, 34, 34);
    height: 50%;
    min-width: 43vh;
}

#form{
    position: relative;
    left: 0;
    padding-left: 0;
    opacity: 1;
    display: block;
    bottom: 20vmin;
}

#players{
    margin-bottom: 20px;
    list-style: none;
}

.input-field.col label.left{
    left: 0;
}

.input-field.playerfield{
    top: 30px;
    width: 24vmax;
}

.btn{
    top:20px;
    width: 100%;    
}
